body{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 90vh;
     background-color: #4B0082;
     text-align: center;
}

#quote{
     font-size: 34px;
     max-width: 500px;
     color: aliceblue;
     padding: 20px; 
     border-radius: 15px; 
     background: rgba(207, 36, 36, 0.094); 
     border: 1px solid rgba(255, 255, 255, 0.3);
}